.contacts {
    position: relative;
    padding: 100px 0;
}

.contacts__social {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
}

.contacts__soc-link {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts__soc-link:hover .contacts__soc-icon {
    opacity: 1;
}

.contacts__soc-icon {
    opacity: 0.3;
    transition: opacity .3s ease-in-out;
}

.contacts__body {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.contacts__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.contacts__map-outer {
    width: 100%;
    max-width: 635px;
}

.contacts__map {
    margin-top: 60px;
    padding-right: 60px;
}

.contacts__info {
    margin-top: 70px;
}

.contacts__connect {
    display: block;
    display: flex;
    align-items: center;
}

.contacts__connect ~ .contacts__connect {
    margin-top: 30px;
}

.contacts__connect-icon {
    margin-right: 20px;
}

.contacts__form-wrapp {
    width: 100%;
}

.contacts__form {
    margin-top: 60px;
}