.menu {
    font-family: var(--font-roboto);
    font-size: 25px;
    font-weight: 300;
}

.menu__list {
    margin: 0;
    padding: 0;
}

.header__menu-list.menu__list,
.footer__menu-list.menu__list {
    display: flex;
}

.menu__item {
    position: relative;
    list-style: none;
}

.header__menu-item.menu__item ~ .header__menu-item.menu__item {
    margin-left: 5em;
}

.footer__menu-item.menu__item ~ .footer__menu-item.menu__item {
    margin-left: 5em;
}

.menu__link {
    color: var(--color-black);
    text-decoration: none;
    transition: color ease-in-out .150s;
    cursor: pointer;
}

.menu__link:hover {
    color: var(--color-yellow);
}