    <footer class="footer">
        <div class="footer__body container-full">
            <div class="footer__inner">
                <a href="./" class="footer__logo">
                    <img src="img/logo.svg" alt="Логотип" class="footer__logo-img">
                </a>
                <a href="tel:+79279191140" class="footer__phone link--primary title title--medium title--black title--w-light">
                    +7 927 919 11 40
                </a>
                <nav class="footer__menu menu">
                    <ul class="footer__menu-list menu__list">
                        <li class="footer__menu-item menu__item js-transition-link">
                            <a href="./" class="menu__link">
                                Главная
                            </a>
                        </li>
                        <li class="footer__menu-item menu__item menu__item--submenu">
                            <a href="javascript:;" class="menu__link">
                                Портфолио
                            </a>
                        </li>
                        <li class="footer__menu-item menu__item">
                            <a href="" class="menu__link">
                                Заказать дизайн
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>

    <script src="js/scripts.min.js"></script>
</body>
</html>