<header class="header">
    <div class="header__body container-full">
        <div class="header__inner">
            <a href="./" class="header__logo">
                <img src="img/logo.svg" alt="Логотип" class="header__logo-img">
            </a>
            <a href="tel:+79279191140" class="header__phone link--primary title title--medium title--black title--w-light">
                +7 927 919 11 40
            </a>
            <nav class="header__menu menu">
                <ul class="header__menu-list menu__list">
                    <li class="header__menu-item menu__item js-transition-link">
                        <a href="./" class="menu__link">
                            Главная
                        </a>
                    </li>
                    <li class="header__menu-item menu__item menu__item--submenu">
                        <a href="javascript:;" class="menu__link">
                            Портфолио
                        </a>
                    </li>
                    <li class="header__menu-item menu__item">
                        <a href="" class="menu__link">
                            Заказать дизайн
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>