.portfolio__slider {
    position: relative;
}

.portfolio__tabs-buttons {
    display: flex;
    @include mobile-block {
        flex-direction: column;
    }
}

.portfolio__tabs-button {
    position: relative;
    padding: 53px;
    width: 50%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    @include mobile-block {
        width: 100%;
        padding: 43px;
    }
    @include mobile(padding, 32px);
}

.portfolio__tabs-button-text {
    position: relative;
    z-index: 1;
}

.portfolio__tabs-button-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    filter: grayscale(1);
    z-index: 0;
    transition: filter .3s ease-in-out, transform .3s ease-in-out;
}

.portfolio__tabs-button:hover .portfolio__tabs-button-img {
    filter: grayscale(0);
    transform: scale(1.2);
}

.portfolio__slider-nav {
    position: absolute;
    right: 83px;
    bottom: 54px;
    z-index: 10;
    display: flex;
    grid-gap: 14px;
    @include large(bottom, 35px);
}

.portfolio__slider-arrow {
    display: flex;
    align-items: center;
    border-radius: 50%;
    background: var(--color-white);
    cursor: pointer;
    transition: background .3s ease-in-out;
    @include large-block {
        width: 39px;
        height: 39px;
    }
}

.portfolio__slider-arrow:hover {
    background: var(--color-dark);
}

.portfolio__slider-arrow:hover .portfolio__slider-arrow-svg {
    stroke: var(--color-white);
}

.portfolio__swiper-button-prev {
    padding: 19px 27px 18px 23px;
    @include large-block {
        padding: 12px 16px 12px 15px;
    }
}

.portfolio__swiper-button-next {
    padding: 19px 23px 18px 27px;
    @include large-block {
        padding: 12px 15px 12px 16px;
    }
}

.portfolio__slider-arrow-svg {
    stroke: var(--color-dark);
    transition: stroke .3s ease-in-out;
}

.portfolio__swiper-slide.swiper-slide {
    height: 100%;
}

.portfolio__slider-pagination {
    display: none;
    margin-top: 20px;
    width: 100%;
    @include mobile(display, block);
}

.portfolio__slider-bullet {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #F4F4F4;
    transform: scale(1);
    transition: background .2s ease-in-out, transform .2s ease-in-out;
}

.portfolio__slider-bullet:hover {
    background: var(--color-black);
    transform: scale(1.2);
}

.portfolio__slider-bullet--active {
    background: var(--color-black);
}

.portfolio__slider-bullet ~ .portfolio__slider-bullet {
    margin-left: 10px;
}