<section class="contacts">
    <div class="contacts__social">
        <a href="" class="contacts__soc-link">
            <img src="img/tg.svg" alt="" class="contacts__soc-icon">
        </a>
        <a href="" class="contacts__soc-link">
            <img src="img/wt.svg" alt="" class="contacts__soc-icon">
        </a>
        <a href="" class="contacts__soc-link">
            <img src="img/vk.svg" alt="" class="contacts__soc-icon">
        </a>
    </div>
    <div class="contacts__inner">
        <div class="contacts__form-wrapp">
            <div class="contacts__form-container">
                <h3 class="contacts__title title title--large title--black title--w-normal">
                    Работай с лучшими
                </h3>
                <h4 class="contacts__subtitle title title--medium title--black title--w-light">
                    Закажи звонок
                </h4>
                <div role="form" class="wpcf7">
                    <form class="form contacts__form wpcf7-form init" action="php/form-send.php" method="post">
                        <div class="form__field">
                            <input type="text" class="form__input" placeholder="Имя">
                        </div>
                        <div class="form__field">
                            <input type="tel" class="form__input" placeholder="Номер телефона">
                        </div>
                        <div class="form__field">
                            <input type="email" class="form__input" placeholder="E-mail">
                        </div>
                        <div class="form__field">
                            <textarea name="textarea-728" cols="40" rows="10" class="form__input form__input--textarea" placeholder="Сообщение"></textarea>
                        </div>
                        <div class="form__wrap-policy">
                            <div class="form__policy text text--small text--white text--w-light center">
                                Ваши данные находятся под защитой
                            </div>
                            <a href="https://fcdigital.ru/politika-konfidenczialnosti/" class="form__link-policy text text--small text--w-light center" target="_blank">
                                Политика конфиденциальности
                            </a>
                        </div>
                        <div class="form__actions">
                            <input type="submit" value="Отправить" class="form__btn button button--primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="contacts__map">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6428fc77c7fdabbb6264da0cf46c0f1a09d48de4649166a3ab2963e8a816b1c8&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=false"></script>
        </div>
    </div>
</section>