<!-- Portfolio -->
<section class="portfolio block-padding">
    <div class="portfolio__body">
        <div class="portfolio__tabs tabs">
            <div class="portfolio__tabs-buttons tabs__buttons">
                <div class="portfolio__tabs-button tabs__button is-active" data-tab-trigger="1">
                    <span class="portfolio__tabs-button-text title title--large title--black title--w-light">
                        Web-Дизайн
                    </span>
                    <img src="img/portfolio/tab-1.jpg" alt="" class="portfolio__tabs-button-img">
                </div>
                <div class="portfolio__tabs-button tabs__button" data-tab-trigger="2">
                    <span class="portfolio__tabs-button-text title title--large title--black title--w-light">
                        Графический дизайн
                    </span>
                    <img src="img/portfolio/tab-2.jpg" alt="" class="portfolio__tabs-button-img">
                </div>
            </div>
            <div class="portfolio__tabs-wrapper tabs__wrapper">
                <div class="portfolio__tabs-content tabs__content is-open" data-tab-content="1">
                    <div class="portfolio__slider">
                        <!-- Slider main container -->
                        <div class="portfolio__swiper-container js-portfolio-slider swiper-container">
                            <!-- Additional required wrapper -->
                            <div class="portfolio__swiper-wrapper swiper-wrapper disableds">
                                <!-- Slides -->
                                <div class="portfolio__swiper-slide swiper-slide">
                                    <!-- Portfolio-card -->
                                    <article class="portfolio-card">
                                        <header class="portfolio-card__header">
                                            <div class="portfolio-card__top">
                                                <div class="portfolio-card__plus">
                                                    <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M19.2676 31L19.2676 19.2729L31 19.2729L31 11.7271L19.2676 11.7271L19.2676 -5.12839e-07L11.7324 -8.42214e-07L11.7324 11.7271L-5.12606e-07 11.7271L-8.42447e-07 19.2729L11.7324 19.2729L11.7324 31L19.2676 31Z" fill="black"/>
                                                    </svg>
                                                </div>
                                                <span class="portfolio-card__time text text--huge text--black text--w-light">
                                                    2017
                                                </span>
                                            </div>
                                            <div class="portfolio-card__info">
                                                <img src="img/portfolio/me.svg" alt="" class="portfolio-card__logo">
                                                <img src="img/portfolio/me-mobile.svg" alt="" class="portfolio-card__logo portfolio-card__logo--mobile">
                                                <h3 class="portfolio-card__text text text--big text--black text--w-light">
                                                    Дизайн | Вёрстка
                                                </h3>
                                            </div>
                                        </header>
                                        <div class="portfolio-card__body">
                                            <img src="img/portfolio/prt-img-1.jpg" alt="" class="portfolio-card__img">
                                            <div class="portfolio-card__action">
                                                <a href="javascript:;" class="portfolio-card__button text text--black text--w-light" data-hystmodal="#popup-1">
                                                    Подробнее
                                                </a>
                                            </div>
                                            <!-- Модалка -->
                                            <div class="modal hystmodal" id="popup-1" aria-hidden="true">
                                                <div class="modal__wrap hystmodal__wrap">
                                                    <div class="modal__body hystmodal__window" role="modal window popup" aria-modal="true">
                                                        <div class="modal__close" data-hystclose>
                                                            <svg class="modal__close-svg" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M1 1L12 12M12 1L1 12" stroke-width="1.5" stroke-linecap="round"/>
                                                            </svg>
                                                        </div>
                                                        <p class="modal__title text text--large text--black text--w-light center">
                                                            Цель проекта, организовать новостной портал, для русскоязычного населения майами и гостей, зайдя на который посетители могли бы узнать о проводимых мероприятиях, праздниках, куда можно сходить, что интересного посмотреть.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /. Модалка -->
                                        </div>
                                    </article>
                                    <!-- /. Portfolio-card -->
                                </div>
                                <div class="portfolio__swiper-slide swiper-slide">
                                    <!-- Portfolio-card -->
                                    <article class="portfolio-card">
                                        <header class="portfolio-card__header">
                                            <div class="portfolio-card__top">
                                                <div class="portfolio-card__plus">
                                                    <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M19.2676 31L19.2676 19.2729L31 19.2729L31 11.7271L19.2676 11.7271L19.2676 -5.12839e-07L11.7324 -8.42214e-07L11.7324 11.7271L-5.12606e-07 11.7271L-8.42447e-07 19.2729L11.7324 19.2729L11.7324 31L19.2676 31Z" fill="black"/>
                                                    </svg>
                                                </div>
                                                <span class="portfolio-card__time text text--huge text--black text--w-light">
                                                    2019
                                                </span>
                                            </div>
                                            <div class="portfolio-card__info">
                                                <img src="img/portfolio/doc.svg" alt="" class="portfolio-card__logo">
                                                <img src="img/portfolio/me-mobile.svg" alt="" class="portfolio-card__logo portfolio-card__logo--mobile">
                                                <h3 class="portfolio-card__text text text--big text--black text--w-light">
                                                    Дизайн | Вёрстка
                                                </h3>
                                            </div>
                                        </header>
                                        <div class="portfolio-card__body">
                                            <img src="img/portfolio/prt-img-2.jpg" alt="" class="portfolio-card__img">
                                            <div class="portfolio-card__action">
                                                <a href="javascript:;" class="portfolio-card__button text text--black text--w-light" data-hystmodal="#popup-2">
                                                    Подробнее
                                                </a>
                                            </div>
                                            <!-- Модалка -->
                                            <div class="modal hystmodal" id="popup-2" aria-hidden="true">
                                                <div class="modal__wrap hystmodal__wrap">
                                                    <div class="modal__body hystmodal__window" role="modal window popup" aria-modal="true">
                                                        <div class="modal__close" data-hystclose>
                                                            <svg class="modal__close-svg" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M1 1L12 12M12 1L1 12" stroke-width="1.5" stroke-linecap="round"/>
                                                            </svg>
                                                        </div>
                                                        <p class="modal__title text text--large text--black text--w-light center">
                                                            Цель проекта, организовать новостной портал, для русскоязычного населения майами и гостей, зайдя на который посетители могли бы узнать о проводимых мероприятиях, праздниках, куда можно сходить, что интересного посмотреть.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /. Модалка -->
                                        </div>
                                    </article>
                                    <!-- /. Portfolio-card -->
                                </div>
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="portfolio__slider-nav hide-mobile">
                            <div class="portfolio__swiper-button-prev portfolio__slider-arrow">
                                <svg class="portfolio__slider-arrow-svg" width="16" height="28" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 27L2 14L15 1" stroke-width="2"/>
                                </svg>
                            </div>
                            <div class="portfolio__swiper-button-next portfolio__slider-arrow">
                                <svg class="portfolio__slider-arrow-svg" width="16" height="28" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L14 14L1 27" stroke-width="2"/>
                                </svg>                          
                            </div>
                        </div>
                        <div class="portfolio__slider-pagination swiper-pagination"></div>
                    </div>
                </div>
                <div class="portfolio__tabs-content tabs__content" data-tab-content="2">
                    <div class="portfolio__slider">
                        <!-- Slider main container -->
                        <div class="portfolio__swiper-container js-portfolio-slider swiper-container">
                            <!-- Additional required wrapper -->
                            <div class="portfolio__swiper-wrapper swiper-wrapper disableds">
                                <!-- Slides -->
                                <div class="portfolio__swiper-slide swiper-slide">
                                    <!-- Portfolio-card -->
                                    <article class="portfolio-card">
                                        <header class="portfolio-card__header">
                                            <div class="portfolio-card__top">
                                                <div class="portfolio-card__plus">
                                                    <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M19.2676 31L19.2676 19.2729L31 19.2729L31 11.7271L19.2676 11.7271L19.2676 -5.12839e-07L11.7324 -8.42214e-07L11.7324 11.7271L-5.12606e-07 11.7271L-8.42447e-07 19.2729L11.7324 19.2729L11.7324 31L19.2676 31Z" fill="black"/>
                                                    </svg>
                                                </div>
                                                <span class="portfolio-card__time text text--huge text--black text--w-light">
                                                    2017
                                                </span>
                                            </div>
                                            <div class="portfolio-card__info">
                                                <img src="img/portfolio/me.svg" alt="" class="portfolio-card__logo">
                                                <h3 class="portfolio-card__text text text--big text--black text--w-light">
                                                    Дизайн | Вёрстка
                                                </h3>
                                            </div>
                                        </header>
                                        <div class="portfolio-card__body">
                                            <img src="img/portfolio/prt-img-1.jpg" alt="" class="portfolio-card__img">
                                            <div class="portfolio-card__action">
                                                <a href="javascript:;" class="portfolio-card__button text text--black text--w-light">
                                                    Перейти
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- /. Portfolio-card -->
                                </div>
                                <div class="portfolio__swiper-slide swiper-slide">
                                    <!-- Portfolio-card -->
                                    <article class="portfolio-card">
                                        <header class="portfolio-card__header">
                                            <div class="portfolio-card__top">
                                                <div class="portfolio-card__plus">
                                                    <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M19.2676 31L19.2676 19.2729L31 19.2729L31 11.7271L19.2676 11.7271L19.2676 -5.12839e-07L11.7324 -8.42214e-07L11.7324 11.7271L-5.12606e-07 11.7271L-8.42447e-07 19.2729L11.7324 19.2729L11.7324 31L19.2676 31Z" fill="black"/>
                                                    </svg>
                                                </div>
                                                <span class="portfolio-card__time text text--huge text--black text--w-light">
                                                    2021
                                                </span>
                                            </div>
                                            <div class="portfolio-card__info">
                                                <img src="img/portfolio/mgu.svg" alt="" class="portfolio-card__logo">
                                                <h3 class="portfolio-card__text text text--big text--black text--w-light">
                                                    Дизайн | Вёрстка
                                                </h3>
                                            </div>
                                        </header>
                                        <div class="portfolio-card__body">
                                            <img src="img/portfolio/prt-img-3.jpg" alt="" class="portfolio-card__img">
                                            <div class="portfolio-card__action">
                                                <a href="javascript:;" class="portfolio-card__button text text--black text--w-light">
                                                    Перейти
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- /. Portfolio-card -->
                                </div>
                                <div class="portfolio__swiper-slide swiper-slide">
                                    <!-- Portfolio-card -->
                                    <article class="portfolio-card">
                                        <header class="portfolio-card__header">
                                            <div class="portfolio-card__top">
                                                <div class="portfolio-card__plus">
                                                    <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M19.2676 31L19.2676 19.2729L31 19.2729L31 11.7271L19.2676 11.7271L19.2676 -5.12839e-07L11.7324 -8.42214e-07L11.7324 11.7271L-5.12606e-07 11.7271L-8.42447e-07 19.2729L11.7324 19.2729L11.7324 31L19.2676 31Z" fill="black"/>
                                                    </svg>
                                                </div>
                                                <span class="portfolio-card__time text text--huge text--black text--w-light">
                                                    2018
                                                </span>
                                            </div>
                                            <div class="portfolio-card__info">
                                                <img src="img/portfolio/doc.svg" alt="" class="portfolio-card__logo">
                                                <h3 class="portfolio-card__text text text--big text--black text--w-light">
                                                    Дизайн | Вёрстка
                                                </h3>
                                            </div>
                                        </header>
                                        <div class="portfolio-card__body">
                                            <img src="img/portfolio/prt-img-2.jpg" alt="" class="portfolio-card__img">
                                            <div class="portfolio-card__action">
                                                <a href="javascript:;" class="portfolio-card__button text text--black text--w-light">
                                                    Перейти
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- /. Portfolio-card -->
                                </div>
                            </div>
                        </div>
                        <div class="portfolio__slider__pagination swiper-pagination"></div>
                        <!-- If we need navigation buttons -->
                        <div class="portfolio__slider-nav hide-mobile">
                            <div class="portfolio__swiper-button-prev portfolio__slider-arrow">
                                <svg class="portfolio__slider-arrow-svg" width="16" height="28" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 27L2 14L15 1" stroke-width="2"/>
                                </svg>
                            </div>
                            <div class="portfolio__swiper-button-next portfolio__slider-arrow">
                                <svg class="portfolio__slider-arrow-svg" width="16" height="28" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L14 14L1 27" stroke-width="2"/>
                                </svg>                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. Portfolio -->