.button {
    font-family: var(--font-roboto);
    font-weight: normal;
    position: relative;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 22px 85px;
    z-index: 10;
    outline: var(--color-black);
    border: none;
    border-width: 1px;
    transition: color .250s ease-in-out, background .250s ease-in-out;
    overflow: hidden;
}

.button--primary {
    color: var(--color-white);
    background: var(--color-black);
}

.button--primary:hover {
    color: var(--color-black);
    background: var(--color-yellow);
}

.button--primary:focus,
.button--primary:target {
    outline: 1px solid var(--color-black);
    border-width: 1px;
}