.main-screen {
    padding: 150px 0 150px;
    @include mobile(padding, 60px 0 60px);
}

.main-screen__plunk {
    width: 100%;
    max-width: 1680px;
    max-width: 85%;
    background: #000;
    padding-left: 45px;
    background: url('../img/main-screen-bg.jpg') no-repeat center;
    background-size: cover;
    @include mobile-block {
        padding-left: 5px;
        max-width: 100%;
    }
}

.main-screen__title {
    font-size: responsive 80px 259px;
    font-range: 360px 1920px;
    line-height: 0.65;
}

.main-screen__list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 100px;
    align-items: center;
    margin-top: 130px;
    @include large(grid-gap, 50px);
    @include mobile-block {
        margin-top: 60px;
    }
    @include mobileXS-block {
        flex-direction: column;
        align-items: flex-start;
        grid-gap: 25px;
    }
}

.main-screen__item:first-child {
    @include mobile(font-size, 35px);
    @include mobileXS(font-size, 45px);
}

.main-screen__item {
    @include mobile(font-size, 15px);
    @include mobileXS(font-size, 25px);
}

.main-screen__info-outer {
    max-width: 1320px;
    margin: 0 auto;
}

.main-screen__info {
    margin-top: 150px;
    @include mobile(margin-top, 60px);
}

.main-screen__scroll {
    margin-top: 150px;
    @include mobile(margin-top, 60px);
}